{% extends "layout.html" %}

{% block body %}
    <h1>Create a new todo</h1>
    <form action="{{ url_for('add_todo') }}" method="post">
        {{ new_todo_form.hidden_tag() }}
        {{ new_todo_form.text(size=50) }}
        <input type="submit" value="Create todo"/>
    </form>
    <h1>All todos</h1>
    <form action="{{ url_for('complete') }}" method="post">
        <ul>
            {% for todo in todos %}
                <li>
                    <input type="checkbox" name="todo" id="todo-{{ todo.id }}" value="{{ todo.id }}"/>
                    <label for="todo-{{ todo.id }}">{{ todo.text }}</label>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Mark checked as done"/>
    </form>
    <h2>Completed todos</h2>
    <ul>
        {% for todo in completed %}
            <li>
                {{ todo.text }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}