<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Todo List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}"/>
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
</head>

<body>
<div class="row">
{% for message in get_flashed_messages() %}
    <div data-alert class="alert-box large-12 columns">
        {{ message }}
        <a href="#" class="close">&times;</a>
    </div>
{% endfor %}

</div>
{% block body %}{% endblock %}
<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>